.chat-message {
  &.sundry-message-user-color-gradient {
    background:
      linear-gradient(
        to bottom,
        rgb(from var(--player-color) r g b / 50%),
        transparent 20%
      ),
      var(--chat-message-background);
  }
  &.sundry-message-user-color-header {
    background:
      linear-gradient(to bottom, rgba(255, 0, 0, 0.5), transparent 3.2rem),
      var(--chat-message-background);
  }

  /* .sundry-message-user-color-header-metal {
    background:
      linear-gradient(to bottom, rgba(255, 0, 0, 0.5), transparent 3.2rem),
      var(--chat-message-background);
  } */
}
