:root {
  --sundry-hp: #1fb222;
  --sundry-temp-hp: #45b6fe;

  --sundry-reflex: #f5a623;
  --sundry-will: #5c6bc0;
  --sundry-fortitude: #43a047;

  --sundry-perception: #548ad1;
  --sundry-stealth: #a280cc;
  --sundry-athletics: #cd5537;

  --sundry-shield: #0c71fe;
  --sundry-shield-raise: #dba143;

  --sundry-hero-points: #e4be37;

  --sundry-disposition-party: #33bc4e;
  --sundry-disposition-neutral: #f1d836;
  --sundry-disposition-opposition: #e72124;
}

.sundry-pf2e-hud-persistent-colorized {
  [data-section="hero-points"] i:not(.carret) {
    --icon-color: var(--sundry-hero-points);
  }

  [data-panel="owned-actors"] .owned-actor .heroPoints i {
    --icon-color: var(--sundry-hero-points);
  }

  [data-section="fortitude"] {
    --icon-color: var(--sundry-fortitude);
  }

  [data-panel="owned-actors"] .owned-actor .statistic i.fa-chess-rook {
    --icon-color: var(--sundry-fortitude);
  }

  [data-section="reflex"] {
    --icon-color: var(--sundry-reflex);
  }

  [data-panel="owned-actors"] .owned-actor .statistic i.fa-person-running {
    --icon-color: var(--sundry-reflex);
  }

  [data-section="will"] {
    --icon-color: var(--sundry-will);
  }

  [data-panel="owned-actors"] .owned-actor .statistic i.fa-brain {
    --icon-color: var(--sundry-will);
  }

  [data-section="dying"] i:not(.carret) {
    --icon-color: #b01717;
  }

  [data-section="wounded"] i:not(.carret) {
    --icon-color: #ff595e;
  }

  [data-section="hp"] {
    --icon-color: var(--sundry-hp);
  }

  [data-panel="owned-actors"] .owned-actor .value.hp i {
    --icon-color: var(--sundry-hp);
  }

  [data-section="temp-hp"] {
    --icon-color: var(--sundry-temp-hp);
  }

  [data-section="ac"] {
    --icon-color: #aab0b3;
  }

  [data-panel="owned-actors"] .owned-actor .ac i {
    color: #aab0b3;
  }

  [data-sidebar="actions"] i {
    --icon-color: #53c341;
  }

  [data-sidebar="items"] i {
    --icon-color: #b87c3d;
  }

  [data-sidebar="spells"] i {
    --icon-color: #a14fe4;
  }

  [data-sidebar="skills"] i {
    --icon-color: #47a8a9;
  }

  [data-sidebar="feats"] i {
    --icon-color: #4f74db;
  }

  [data-panel="details"] [data-section="speeds"] {
    &[data-speed="climb"] i {
      --icon-color: #ca9df0;
    }

    &[data-speed="swim"] i {
      --icon-color: #9dedf0;
    }

    &[data-speed="fly"] i {
      --icon-color: #f0ea9d;
    }

    &[data-speed="burrow"] i {
      --icon-color: #d8ac7b;
    }
  }

  /*
    [data-sidebar="extras"] i {
        --icon-color: #EF1C55;
    }
    */

  [data-section="effects"] i {
    --icon-color: #ff5b00;
  }

  [data-section="perception"] {
    --icon-color: var(--sundry-perception);
  }

  [data-panel="owned-actors"] .owned-actor .statistic i.fa-eye {
    --icon-color: var(--sundry-perception);
  }

  [data-section="stealth"] {
    --icon-color: var(--sundry-stealth);
  }

  [data-panel="owned-actors"] .owned-actor .statistic i.fa-mask {
    --icon-color: var(--sundry-stealth);
  }

  [data-section="athletics"] {
    --icon-color: var(--sundry-athletics);
  }

  [data-panel="owned-actors"] .owned-actor .statistic i.fa-hand-fist {
    --icon-color: var(--sundry-athletics);
  }

  /** Party */
  [data-section="alliance"][data-value="1"] i {
    --icon-color: var(--sundry-disposition-party);
  }

  /** Neutral */
  [data-section="alliance"][data-value="2"] i {
    --icon-color: var(--sundry-disposition-neutral);
  }

  /** Opposition */
  [data-section="alliance"][data-value="3"] i {
    --icon-color: var(--sundry-disposition-opposition);
  }

  [data-section="ac"] {
    i.fa-solid.fa-helmet-battle {
      --icon-color: var(--sundry-shield-raise);
    }
  }

  [data-section="shield"] {
    i.fa-shield.fa-regular {
      --icon-color: var(--sundry-shield);
    }
    i.fa-shield.fa-solid {
      --icon-color: var(--sundry-shield-raise);
    }
  }
}

.sundry-pf2e-toolbelt-colorize-saves
  .message-content
  .pf2e-toolbelt-target-targetRows
  .target-row
  .target-header
  .controls {
  i.fa-person-running {
    color: var(--sundry-reflex);
  }

  i.fa-brain {
    color: var(--sundry-will);
  }

  i.fa-chess-rook {
    color: var(--sundry-fortitude);
  }
}

.sundry-pf2e-toolbelt-highlight-unrolled
  .message-content
  .pf2e-toolbelt-target-targetRows
  .target-row
  .target-header
  .controls {
  i.die {
    animation: endTurnGlow 2.5s infinite;
  }
}

@keyframes endTurnGlow {
  0% {
    color: #fff;
  }
  50% {
    color: #fd782f;
  }
  100% {
    color: #fff;
  }
}

/** Addendum in inventory */
.editor .addendum {
  border-image-repeat: repeat;
  border-image-slice: 11;
  border-image-source: url("../../../systems/pf2e/assets/sheet/frame-elegant.svg");
  border-image-width: 14px;
  border-style: double;
  background: rgba(68, 55, 48, 0.1);
  border-radius: 2px;
  color: var(--color-pf-alternate-darker);
  padding: var(--space-4);
  margin: 0 0 var(--space-8);

  h4 {
    font-weight: 700;
    margin-bottom: var(--space-6);
    text-align: center;
  }
}

body.game .app.window-app.sundry-hide-button-text .flexrow.window-header a {
  font-size: 0;
}

body.game .app.window-app.sundry-hide-button-text .flexrow.window-header a i {
  font-size: var(--font-size-14);
}

/** Remove Video Border for Pause Stuff */
figure#pause video {
  border: none;
  box-shadow: none;
}

/** Better format Pause so it actually fits bigger text */
figure.paused {
  height: fit-content;
  padding: 1rem;
}

figure.paused img {
  margin-top: 0.5rem;
}

figure.paused figcaption {
  width: 70%;
  line-height: 1.5rem;
}

/** For Showing known Languages */
.languages .comma-separated {
  li.all {
    text-shadow: 0 0 10px var(--color-pf-text-critical-success);
    .header {
      color: var(--color-pf-text-critical-success);
    }
  }
  li.some {
    text-shadow: 0 0 10px var(--color-pf-text-success);
    .header {
      color: var(--color-pf-text-success);
    }
  }

  li.none {
    text-shadow: 0 0 10px var(--color-pf-text-critical-failure);
    .header {
      color: var(--color-pf-text-critical-failure);
    }
  }
}

.hero-point-picker .form-group {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-start;
}

.hero-point-picker .radio-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-items: center;
  flex: 1 0 16%;
  line-height: normal;
  margin: 5px;
}

.hero-point-picker input[type="radio"] {
  display: none;
}

.hero-point-picker img {
  border: 0px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  transition: outline 0.2s ease;
}

.hero-point-picker .item-name {
  margin-top: 5px;
  font-size: 12px;
  font-weight: bold;
  word-wrap: break-word;
  max-width: 80px;
}

.hero-point-picker img.selected {
  outline: 3px solid #4caf50;
}

.hero-point-picker img:hover {
  outline: 2px solid #ccc;
}

.hero-point-picker img.selected:hover {
  outline: 3px solid #4caf50;
}

.hero-point-picker progress {
  margin-top: 3px;
}
